



@media only screen and (max-width: 480px){
   .footerSection {
      position: sticky;
      bottom: 0%;
      height: 60px;
      background-image: linear-gradient(rgba(139, 186, 187, 0.85), rgba(199, 240, 219, 0.85));
   }
   
   .footerSection .contentContainer p{
      margin: 0px;
      display: inline-block;
      font-size: .8em;
      margin-right: 25px;
      margin-top: 1.75%;
   }
}
@media only screen and (min-width: 481px){
   .footerSection {
      position: sticky;
      bottom: 0%;
      height: 60px;
      background-image: linear-gradient(rgba(139, 186, 187, 0.85), rgba(199, 240, 219, 0.85));
   }
   
   .footerSection .contentContainer p{
      margin: 0px;
      display: inline-block;
      font-size: .8em;
      margin-right: 25px;
      margin-top: 2em;
   }
}

