
   @media only screen and (max-width: 768px){
      .natural-menu{
         display: none;
      }

      .menu {
         text-decoration: none;
         color: black;
         list-style: none;
         /* display: inline-block; */
         margin-right: 1%; 
         padding: 0px 5px;
         margin-left: 3px;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size: 1em;
         letter-spacing: .5px;
      }
         .menu.selected{
            border-left:5px solid #8BBABB;
            /* border-right:5px solid #8BBABB; */
         }
         .menu:hover{
            border-left: 5px solid #3f3b4d;
         }
         .menu a{
            color: black;
            text-decoration: none;
         }
         .menu a:hover{
            color: black;
            text-decoration: none;
         }
         .menu-content{
            max-height: 0px;
            overflow: hidden;
            /* padding: 0 0 0 5px; */
         }
         .openMenu{
            max-height: 100%;
         }
         .bar1, .bar2, .bar3{
            margin: 5px 15px; 
            width: 35px;
            min-height: 5px;
            /* margin: 5px 0px; */
            border-radius: 10px;
            background-color: black
         }
         .change .bar1, .change .bar2, .change .bar3{
            background-color: #8BBABB
         }
   }
   @media only screen and (min-width: 769px){
      .responsive-menu{
         display: none;
      }
      .menu {
         text-decoration: none;
         color: black;
         list-style: none;
         display: inline-block;
         margin-right: 1%; 
         padding: 0px 5px;
         margin-left: 3px;
         border-radius: 10px; 
         border-left: 5px solid #3f3b4d;
         border-right: 5px solid #3f3b4d;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size: 1em;
         letter-spacing: .5px;
      }
         #logoMenu{
            border: 1px solid #3f3b4d; 
            list-style: none;
            display: inline-block;
            margin-right: 1%;
            width: 150px;
         }
         .menu.selected{
            border-left:5px solid #8BBABB;
            border-right:5px solid #8BBABB;
         }
         .menu:hover{
            border-left: 5px solid #8BBABB;
            border-right: 5px solid #8BBABB;
         }
         .menu a{
            color: black;
            text-decoration: none;
         }
         .menu a:hover{
            color: black;
            text-decoration: none;
         }
   }